<!doctype>
<html>
<head>
<title> Success </title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  
  <h1> Thanks for listing the follwoing surfboard:</h2>
 <ul>
  <li><%= @last_surfboard.model %></li>
  <li><%= @last_surfboard.size %></li> 
  <li><%= @last_surfboard.shaper %></li>	
  <li><%= @last_surfboard.fin_number %></li>
  <li><%= @last_surfboard.fin_systeme %></li>
<ul>
<br />
<a href="/">Back to the home page</a>
</body>

</html>